.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.dashboard-container h2 {
    color: #030104;
}

/*grid*/
.grid-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 20px;
    padding-left: 60px;
}
.grid-row {
    display: flex;
    gap: 4px;
}
.grid-box {
    background-color: #A4C3B2;
    padding: 10px;
    width: 60px;
    height: 60px;
    color: red;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    cursor: pointer;
    transition: border 0.2s;
}
.grid-box.selected {
    border: 2px solid red;
}

.sidebar {
    background-color: #6B9080;
    position: fixed;
    right: 0;
    top: 64px; 
    width: 30vh;
    height: calc(100vh - 70px);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}
.sidebar-button-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar-button-row {
    display: flex;
    gap: 4px;
}
.sidebar-button-row button{
    display: block;
    aspect-ratio: 1/1;
    width: 75px;
    cursor: pointer;
}